body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#backgroundimage {
  z-index: -999;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

header {
   /* padding-top: 10px;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px;
    background-color:rgba(88, 6, 6, 0.67);
  }

header a img {
  float: left;
  padding: 10px 0;
}

header nav {
  height: 70px;
 /* color: #981C35;*/
  float:right;
}

header nav ul{
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 70px;
}

header nav ul li {
  display: inline-block;
  color: #9E1C1C;
  padding: 15px 120px;
  font-size: xx-large;
  font-family: Garamond;
}

footer{
  display:block;
  position: relative;
  margin-top:80px;
  
}
footer img{
   display:block;
   margin-left:auto;
   margin-right:auto;
}