@import "compass/css3";


html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#background {
    z-index: -999;
    min-height: 900px;
    min-width: 1600px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#wrapper {
    position: relative;
    height:100%;
    color: white;
}
#content {
    display:flex;
    flex-flow:column wrap;
    justify-content:flex-start;
    font-family: 'Josefin Sans', sans-serif;
    
    position: absolute; 
    width: 600px; 
    height: 400px; 
    left: 50%; 
    top: 50%; 
    margin-left: -320px; 
    margin-top: -200px;	
    background:rgba(24, 26, 27, 0.55); 
    border-radius: 8px; 
    padding: 10px; /* Поля вокруг текста */
    overflow: auto; /* Добавление полосы прокрутки */ 
}
#forecastbar {
    background-color:aqua;
    display:flex;
    flex-flow:column wrap;
}
#forecastbar p {
    text-align:center;
}
#wind {
    background-color:red;

}
#table {
    margin:auto;
}
#weather_icon {
    margin:auto;
}
header {
    background-color: rgba(35, 68, 77, 0.5);
    position:fixed;
    margin:auto;
    width:100%;
}
 a img {
    position: absolute;
    width: 150px;
    z-index: 10;
    transform: rotate(-15deg);
}
#navbar {
    float:right;
    font-family: 'Josefin Sans', sans-serif;
    font-size:25px;
}
#navbar ul li a {
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    color: white;
}
#navbar ul {
    list-style: none;
    padding: 0 40px; 
    margin:0 auto;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
   
}
#footer a {
    text-decoration: none;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    margin: 5px 30px;
    
}
#footer {
    display:flex;
    justify-content:center;
    
    background-color: rgba(53, 61, 64, 0.55);
    height:30px;
    position:fixed;
    width:100%;
    bottom:0;
    
}